*.DS_Store
.cpan
render_app.conf
lib/WeBWorK/htdocs/tmp/renderer/gif/*
lib/WeBWorK/htdocs/tmp/renderer/images/*
lib/WeBWorK/htdocs/DATA/*.json
lib/WeBWorK/bin/*
webwork-open-problem-library/
private/
tmp/
logs/*.log
node_modules
node_modules/*
*.o
*.pm.tdy
*.bs
.idea/
.cpanm/
local/
*.swp
*.swo
*.bak
*.tmp

.DS_Store
report_shebang.txt
report_pyflakes.txt
report_bandit.txt
report_pyright.txt
report_ascii_compliance.txt
